@model WebApp.Models.ItemsIndexViewModel

@{
    ViewData["Title"] = "Items Home";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Items</h1>
        <h2>Ships</h2>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Ship Type</th>
                <th>Modules</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var shipTemplate in Model.ShipTemplates)
            {
                <tr>
                    <td>@shipTemplate.Type</td>
                    <td>
                    <ul>
                    @foreach (var item in @shipTemplate.ModuleSlots.OrderBy(o => o.SlotType))
                        {
                            <li>@item.SlotType level @item.MinLevel.ToString() to @item.MaxLevel.ToString()</li>
                        }
                    </ul>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
